body {
  font-family: "Grechen Fuemen", cursive;
  font-weight: 400;
  font-style: normal;
}

.div {
  border: 2px solid red;
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 0, auto;
}
.p {
  font-family: "Grechen Fuemen", cursive;
  font-weight: 600;
  font-style: normal;
  color: #c90a0a;
  font-size: 30px;
}
